*{margin: 0px;
    padding: 0px;

}
a{

    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    
}
.bold{
    font-weight: bold;
}
img{
    /* width:100%; */
    
}
:root{
    --grid:grid;
}
.container{
    /* outline: 2px solid blue; */
/* margin: 5px; */
}
h2{
    color:white;  
}
.grid{
    display: var(--grid);
}
.grid-container{
    
   grid-template-columns: 20em 1fr;

   height: 100vh;
   /* margin: 2vh; */ */
}
.side-bar{
    background-color:#0ea5e9;
    display: grid;
   grid-column: 1/2;
   grid-template-rows: 2em 15em 25em ;
}
nav img{
    width:5rem;
}
span{
    display: inline;
}
.side-bar ul li{
    margin-top: 1rem;
    margin-left: 1rem;
}
.side-bar h2{
    display: flex;
    gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
}
.side-bar ul li a
{
   display: flex;
   gap: 1rem;
 align-items: center;
   /* outline: 2px solid green; */
  
}

.main{
    display: grid;
    grid-template-rows: 10em 1fr;
    grid-template-columns: repeat(12,1fr);
}
.main img{
    width:30px;
}
nav{
    grid-column: 1/-1;
    grid-template-rows: 1/2;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,4.8em);
   box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.22);
 padding-left:2rem;
 padding-right:2rem;

}
.end{
    grid-column: 10/-1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
}
input{
    border-radius:20px ;
    border: none;
    outline: 1px solid gray;
    background-color: rgb(246, 240, 240);
    height: 30px;
}
.first{
    display: grid;
    align-items: center;
    grid-column: 1/8;
    grid-template-columns: repeat(12,1fr);
    /* justify-items:center; */
}
.row1{
    display: grid;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    /* justify-items: center; */
    align-items: center;
}

.row1 img{
    grid-column: 1/2;
}
.row1 h4{
    grid-column: 2/6;
    margin-left: 8px;
}
.first img{
    grid-column: 1;
    justify-self: center;
}

.first input{
    grid-column: 2/-1;
}
.row2 li{
    background-color: #0ea5e9;
    border-radius: 50px;
    height: 2rem;
    width: 6rem;
    display: grid;
    justify-items: center;
    align-items: center;
  
}
.row2  li a{
    color:white;
    
    
}
.row2{
    grid-column: 9/-1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;
}
/* .row2 li:nth-child(1){
    background-color: red;
 grid-column: 1/span 3;
}
.row2 li:nth-child(2){
    background-color: green;
    grid-column:4/span 3;
}
.row2 li:nth-child(3){
    background-color: yellow;
    grid-column:7/span 3;
} */


